---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Article {
  frontmatter: {
    title: string;
    date: string;
    image: string;
  };
}

const articles = import.meta.glob<Article>('./articles/*.md', { eager: true }) as Record<string, Article>;
---

<Header /> <!-- ヘッダーを表示 -->

<main>
  <section>
    <h2 style="font-size: 3rem;">POST</h2>
    <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); gap: 24px;">
      {Object.keys(articles).map((articlePath) => {
        const { title, date, image } = articles[articlePath].frontmatter;
        return (
          <div style="border: 1px solid #ddd; border-radius: 12px; overflow: hidden; text-align: center; max-width: 100%;">
            <img src={image} alt={title} style="width: 100%; height: 250px; object-fit: cover;" />
            <div style="padding: 20px;">
              <h3 style="margin: 0; font-size: 1.5em;">
                <a href={articlePath.replace('./', '/').replace('.md', '')} style="text-decoration: none; color: #333;">
                  {title}
                </a>
              </h3>
              <p style="color: #666; font-size: 1.2em; margin-top: 8px;">{date}</p>
            </div>
          </div>
        );
      })}
    </div>
    
  </section>
</main>

<Footer /> <!-- フッターを表示 -->
